.photo-content {
    position: relative; }
    .photo-content .cover-photo {
      background: url(../images/profile/cover.jpg);
      background-size: cover;
      background-position: center;
      min-height: 250px;
      width: 100%; }